/* app css stylesheet */
.background{
	background-color:#E5E7E9;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.centerer{
	text-align:center;
}
.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.colorer{
	background-color: #33FF96;
	color:white;
}
.whiter{
	color:#000000;
}