<div class="background">
	   <table class="table table-striped">
	   <tr>
			<th><b>Reviews</b></th>
			<th><b> Brand </b></th>
			<th><b> Coffee Title	</b></th>
			<th><b> Country</b></th>
		</tr>
        <tr ng-repeat="coffee in coffees | orderBy:'name'|filter: filt1 ">
			<td><a href = "" ng-click = "set(coffee.id)">Reviews </a> </td>
			<td>{{coffee.brand}}</td>
			<td>{{coffee.name}}</td>
			<td>{{coffee.country}}</td>
			
      </tr>
	  </table>
        <b>Search:</b>
        <input ng-model="filt1"/>
	</div>
	