
<div ng-repeat = "coffee in coffees" ng-if='coffee.id == value'>

<table class="table table-striped">
	
		
		<tr>
		<th><b><u>Reviews for {{coffee.brand}}</u></b></th>
		<th></th>
		<th></th>
		</tr>
		
		
		   <tr>
			<th><b>Reviewer </b></th>
			<th><b> Comment </b></th>
			<th><b> Rating</b></th>
		</tr>
		
			<tr ng-repeat = "review in coffee.reviews">
				<td>{{review.reviewer}}</td>
				<td>{{review.comment}}</td>
				<td class="rating">{{review.rating}}</td>
			</tr>

	  </table>
	  	  </div>